.aboutUsH1-styles {
    text-align: center;
    font-size: 4vh;
    background-color: rgba(54, 53, 53, 0.726);
    color: white;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.aboutUsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.aboutUsH3-styles {
    font-size: 4vh;
    font-weight: bold;
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    height: 35vh;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 30px;
}

.aboutUsParrafo-styles {
    font-size: 3.3vh;
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-right: 15px;
}

.img4-container,
.img3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img4nosotros-styles,
.img3nosotros-styles {
    width: 70vh;
    height: 50vh;
    border-radius: 10px;
    
}

.img4-container {
    justify-content: flex-end;
    margin-right: 5vh;
}

.img3-container {
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 5vh;
}
