body {
  margin: 0;
}

.allnav-nav {
  background-color: rgba(81, 81, 82, 0.87);
  padding: 20px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 10px;
 
}

.title-nav {
  font-size: 10px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  .navLink-title{
   text-decoration: none;
   color: white;
  }

.navlink-nav {
  display: flex;
  margin-right: 10vh;
  gap: 4vh;

}

.navlink-button {
  text-decoration: none;
  color: rgb(172, 172, 172);
  font-size: 20px;
  font-weight:bolder;
  padding: 10px 5px;
  border: 2px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navlink-button:hover {
  background-color: #272c3d;
  color: rgb(255, 255, 255);
  border-color: #272727;
}


