body{
    background-color: rgb(36, 35, 35);
}

.video-Home{
    margin: 3px;
}

.video-background{
    width: 221.1vh;
    height: 75vh; 
    object-fit:cover;
    border:50px;
    margin-left: -2px;
}

.button-home{
     display: flex;
    align-items: center; 
    justify-content: center; 

}
.buttononsidestyle-home{
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    
}